@import url("https://fonts.googleapis.com/css?family=Amaranth");
/*
=variables
*/
/*
=common
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Amaranth', sans-serif;
  font-size: 16px;
  background: #060407;
  color: #EEEEEE;
  border: 1px solid #ada8b6;
}

.secOne, .secTwo, .secThree {
  height: 400px;
}

.secContainer {
  position: relative;
}

.secContainer .front, .secContainer .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  padding: 2em;
  border: 1px solid #ada8b6;
  transition: all ease-in-out 0.3s;
}

.secContainer .front img, .secContainer .back img {
  height: 150px;
}

.secContainer .front {
  background: #060407;
}

.secContainer .back {
  opacity: 0;
  background-color: #79A80D;
  text-align: center;
}

.secContainer .back .centerer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.secContainer .back .centered {
  display: inline-block;
  vertical-align: middle;
  padding: .5em 1em;
  border: 2px solid #79A80D;
  background: #060407;
}

.secContainer .back a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  color: #EEEEEE;
}

.secContainer .about {
  padding: 2em 5em;
  text-transform: lowercase;
  font-size: 1.3em;
}

.secContainer .facebook .centered, .secContainer .twitter .centered, .secContainer .github .centered, .secContainer .behance .centered, .secContainer .email .centered {
  padding: 0;
  border: none;
  background: none;
}

.secContainer .facebook {
  background: #3b5998;
}

.secContainer .twitter {
  background: #00b6f1;
}

.secContainer .github {
  background: #333333;
}

.secContainer .behance {
  background: #1769ff;
}

.secContainer .email {
  background: #ea4335;
}

.secContainer:hover .back {
  opacity: 1;
}

.secFour {
  height: 200px;
}

.secFour .front, .secFour .back {
  height: 200px;
}

.secFive {
  border: 1px solid #ada8b6;
  padding: 1em 2em;
  width: 100%;
}

.secFive p {
  padding: 0;
  margin: 0;
}

.webDes, .webDev, .logoDes, .typography, .blogging {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.webDes {
  background: url(../img/webdesign.jpg);
}

.webDev {
  background: url(../img/webdev.jpg);
}

.logoDes {
  background: url(../img/logodesign.jpg);
}

.typography {
  background: url(../img/typography.jpg);
}

.blogging {
  background: url(../img/blogging.jpg);
}

@media (max-width: 767px) {
  .secContainer .about {
    padding: 2em;
    font-size: 1em;
  }
}
