@import url('https://fonts.googleapis.com/css?family=Amaranth');
/*
=variables
*/
$bg_Color: #060407;
$txt_Color: #EEEEEE;
$primary_Border: 1px solid #ada8b6;
$primary_Transition: all ease-in-out 0.3s;
/*
=common
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Amaranth', sans-serif;
  font-size: 16px;
  background: $bg_Color;
  color: $txt_Color;
  border: $primary_Border;
}

.secOne, .secTwo, .secThree {
  height: 400px;
}

.secContainer {
  position: relative;

  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding: 2em;
    border: $primary_Border;
    transition: $primary_Transition;

    img {
      height: 150px;
    }

  }

  .front {
    background: $bg_Color;
  }

  .back {
    opacity: 0;
    background-color: #79A80D;
    text-align: center;

    .centerer {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .centered {
      display: inline-block;
      vertical-align: middle;
      padding: .5em 1em;
      border: 2px solid #79A80D;
      background: $bg_Color;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 1.2em;
      color: $txt_Color;
    }
  }

  .about {
    padding: 2em 5em;
    text-transform: lowercase;
    font-size: 1.3em;
  }

  .facebook, .twitter, .github, .behance, .email {
    .centered {
      padding: 0;
      border: none;
      background: none;
    }
  }

  .facebook {
    background: #3b5998;
  }
  .twitter {
    background: #00b6f1;
  }
  .github {
    background: #333333;
  }
  .behance {
    background: #1769ff;
  }
  .email {
    background: #ea4335;
  }

  &:hover {
    .back {
      opacity: 1;

    }
  }
}

.secFour {
  height: 200px;
  .front, .back {
    height: 200px;
  }
}

.secFive {
  border: $primary_Border;
  padding: 1em 2em;
  width: 100%;
  p {
    padding: 0;
    margin: 0;
  }
}

.webDes, .webDev, .logoDes, .typography, .blogging {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.webDes {
  background: url(../img/webdesign.jpg);
}

.webDev {
  background: url(../img/webdev.jpg);
}

.logoDes {
  background: url(../img/logodesign.jpg);
}

.typography {
  background: url(../img/typography.jpg);
}

.blogging {
  background: url(../img/blogging.jpg);
}

@media (max-width: 767px) {
  .secContainer {
    .about {
      padding: 2em;
      font-size: 1em;
    }
  }
}
