@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

$bg_Color: #060407;
$txt_Color: #EEEEEE;
$primary_Border: 1px solid #ada8b6;
$primary_Transition: all ease-in-out 0.3s;
/*
=common
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  color: $txt_Color;
  border: $primary_Border;
  background: url("../img/BG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bordered {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.secOne,
.secThree,
.secTwo {
  height: 400px;
}

.secContainer {
  position: relative;

  .about,
  .logo {
    background: $bg_Color;
  }

  .back,
  .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding: 2em;
    border: $primary_Border;
    transition: $primary_Transition;
    text-align: center;
    img {
      height: 150px;
    }
  }

  .front {
    background: rgba(6,7,4,0.5);
    text-align: center;

    .centerer {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .centered {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 1.5em;
      color: $txt_Color;
    }
  }

  .back {
    opacity: 0;
    text-align: center;

    .centerer {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .centered {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 1.5em;
      color: $txt_Color;
    }
  }

  .about {
    padding: 2em 5em;
    text-transform: lowercase;
    font-size: 1.3em;
  }

  .behance,
  .email,
  .facebook,
  .github,
  .twitter {
    .centered {
      padding: 0;
      border: none;
      background: none;
    }
  }

  .facebook {
    background: #3b5998;
  }

  .twitter {
    background: #00b6f1;
  }

  .github {
    background: #333333;
  }

  .behance {
    background: #1769ff;
  }

  .email {
    background: #ea4335;
  }

  &:hover {
    .back {
      opacity: 1;
    }
  }

  .projectTitle {
    font-size: 16px;
    font-family: 'Share Tech Mono', monospace;
    a {
      text-decoration: none;
      transition: $primary_Transition;
      &:hover {
        color: #A2D729;
      }
    }
  }

  .projectChar {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
      a {
        text-decoration: none;
        img {
          width: 30px;
          height: auto;
        }
      }
    }
  }

}

.secFour,
.secThree,
.secTwo {
  .secContainer:hover {
    .front {
      background: rgba(6,7,4,0.7);
    }
  }
}

.secFour {
  height: 200px;

  .back,
  .front {
    height: 200px;
  }
}

.secFive {
  border: $primary_Border;
  padding: 1em 2em;
  width: 100%;
  background: rgba(6,7,4,0.7);

  p {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("../img/BGM.jpg");
  }
}

@media (max-width: 767px) {
  .h3, h3 {
    font-size: 18px;
  }
  .secContainer {
    .about {
      padding: 2em;
      font-size: 1em;
    }
  }
}
